/*-- scss:defaults --*/

// Nord Palette
$polar-night-0: #2e3440;
$polar-night-1: #3b4252;
$polar-night-2: #434c5e;
$polar-night-3: #4c566a;
$snow-storm-0: #d8dee9;
$snow-storm-1: #e5e9f0;
$snow-storm-2: #eceff4;
$nord-teal: #8fbcbb;
$nord-cyan: #88c0d0;
$nord-blue: #81a1c1;
$nord-dark-blue: #5e81ac;
$nord-red: #bf616a;
$nord-orange: #d08770;
$nord-yellow: #ebcb8b;
$nord-green: #a3be8c;
$nord-purple: #b48ead;

// Brand
$gold: #907a43;

// Bootstrap Semantic Colors
$primary: $gold;
$secondary: $polar-night-3;
$success: $nord-green;
$info: $nord-blue;
$warning: $nord-yellow;
$danger: $nord-red;
$light: $snow-storm-2;
$dark: $polar-night-1;
$link-color: $primary;

// Callout Colors
$callout-color-note: $nord-blue;
$callout-color-tip: $nord-green;
$callout-color-warning: $nord-yellow;
$callout-color-caution: $nord-orange;
$callout-color-important: $nord-red;

/*-- scss:rules --*/
code {
    color: $snow-storm-0 !important;
    background-color: $polar-night-0 !important;
}

pre.text {
    background-color: $polar-night-0;
    color: $snow-storm-0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
